@font-face {
  font-family: Shabnam;
  src: url(/font/Shabnam-FD.ttf) format(truetype);
}
body {
  font-family: Shabnam;
}
/* custom checkbox */
.container2 {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 30px;
}
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50% 50%;
}
.container2 input:checked ~ .checkmark {
  background-color: #de3838;
}
