@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .show-reaction {
    animation-name: showReaction !important;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
  }
  @keyframes showReaction {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.5;
    }
    100% {
      scale: 1;
    }
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .target svg {
    rotate: 180deg;
  }
   ul {
    @apply bg-black rounded-md relative bottom-5 p-2 py-1 cursor-pointer
  }
  ul li {
     @apply hover:text-white transition-all text-[#c0c0c0] my-1
  }
}

