@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .show-reaction {
    animation-name: showReaction !important;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  @keyframes showReaction {
    0% {
      scale: 1;
    }
    25% {
    }
    50% {
      scale: 1.5;
    }
    75% {
    }
    100% {
      scale: 1;
    }
  }
}
